@font-face {
    font-family: 'GhanaChocolate';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/lotte/GhanaChocolate.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/lotte/GhanaChocolate.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/lotte/GhanaChocolate.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/lotte/GhanaChocolate.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/lotte/GhanaChocolate.ttf') format("truetype");
    font-display: swap;
} 